.button {
  background:blueviolet;
  padding: 0.9em;
  color: white;
  border: none;
  margin: 0.7em;
  border-radius: 5px;
  outline: none;
}

.button.toggled {
  background: greenyellow;
  color: black;
}